<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav" id="right">
      <li>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>

  {{outlet}}
</div>
