<div class='container'>
  <h3>Bustle Link Page</h3>
  <ul>
    <li><a href='#'>Headline 1<img src="css/images/cow-fire-man.jpg"></a></li>
    <li><a href='#'>Headline 2<img src="css/images/helicopter.jpg"></a></li>
    <li><a href='#'>Headline 3<img src="css/images/joe-cool.jpg"></a></li>
    <li><a href='#'>Headline 4<img src="css/images/lion.jpg"></a></li>
  </ul>
</div>
