<div class='container'>
  <h3>Bustle Link Page</h3>
  <ul>
    <li>{{#link-to 'headline1'}}Headline 1<img src="css/images/cow-fire-man.jpg">{{/link-to}}</li>
    <li>{{#link-to 'headline2'}}Headline 2<img src="css/images/helicopter.jpg">{{/link-to}}</li>
    <li>{{#link-to 'headline3'}}Headline 3<img src="css/images/joe-cool.jpg">{{/link-to}}</li>
    <li>{{#link-to 'headline4'}}Headline 4<img src="css/images/lion.jpg">{{/link-to}}</li>
  </ul>
</div>
